
<div align="center">
<h1>Bookat</h1>

    <table align="center" border="1">
        <tbody>
            <tr>
                <th>Title of book</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td> {{book.author}} </td>
            </tr>
        
        </tbody>
    </table>
</div>